.about-container {
  background-color: #141414;
  padding: 20rem 0rem 4rem 0rem;
}

.about-container .container {
  background-color: #1f1f1f;
  color: #dedede;
  padding: 8rem 3rem 4rem 3rem;
  position: relative;
  width: 800px;
  margin: 0 auto;
  z-index: 9;
}

.about-container .container .box-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: -25%;
}

.about-container .container .box-title .img {
  width: 450px;
}

.about-container .container .box-title .title {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-top: auto;
  position: relative;
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #dedede;
}

.about-container .container .box-title .title::after {
  content: '';
  position: absolute;
  width: 120%;
  height: 1.5px;
  background-color: #ecb100;
  right: 0;
  bottom: 0;
}

.about-container .container .intro {
  margin-top: 5rem;
  margin-bottom: 3rem;
  letter-spacing: 1px;
}

.about-container .container .intro span {
  color: #ecb100;
}

.about-container .container .more-info {
  margin: 30px 0;
}

.about-container .container .more-info span {
  color: #ecb100;
  margin: 0 10px;
}

.about-container .container .box-skills .title-skills {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: end;
  padding-bottom: 0.5rem;
  position: relative;
}

.about-container .container .box-skills .title-skills::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #ecb100;
  bottom: 0;
  left: 0;
}

.about-container .container .box-skills .box {
  margin-bottom: 20px;
}

.about-container .container .box-skills .box .skill {
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: #ecb100;
  padding-bottom: 0.4rem;
}

.about-container .container .box-skills .box .skill::after {
  content: "";
  width: 50%;
  height: 3px;
  border-bottom: 2px;
  position: absolute;
  bottom: 0;
  background: #ecb100;
  left: 0;
}

.about-container .container .box-skills .box .list {
  list-style-type: circle;
  margin-left: 4rem;
}

.about-container .container .box-skills .box .list .item {
  color: #dedede;
  margin: 5px;
}

@media only screen and (max-width: 915px) {
  .about-container {
    padding: 4rem 0rem 4rem 0rem;
  }
  .about-container .container {
    margin: 0 2rem;
    width: auto;
    padding: 3rem 2rem;
  }
  .about-container .container .box-title {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .about-container .container .box-title .img {
    width: auto;
  }
  .about-container .container .box-title .title {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .about-container .container .box-skills .box .list {
    margin-left: 2rem;
  }
}
/*# sourceMappingURL=About.css.map */