.project {
    padding: 2rem 4rem;
    background-color: #141414;
    .title {
        text-align: center;
        color: #dedede;
        font-size: 5rem;
        margin-bottom: 3rem;
        padding-bottom: 2rem;
        position: relative;
        display: flex;
        justify-content: center;
        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #ecb100;
        }
    }
    .list-project {
        display: flex;
        flex-direction: column;
        .item {
            display: grid;
            grid-template-columns: 50% 50%;
            height: 500px;
            margin: 5rem 0; 
            .img {
                overflow: hidden;
                position: relative;
                z-index: 9;
            }
            .box-content {
                color: #dedede;
                display: flex;
                flex-direction: column;
                justify-content: center;
                a {
                    color: #141414;
                    padding: 0 1rem;
                    font-size: 3rem;
                    width: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #ecb100;
                    -webkit-text-stroke: 0.1vw #ecb100;
                    transition: .3s;
                    z-index: 9;
                    &:hover {
                        color: #ecb100;
                    }
                }
                .name {
                    width: 50%;
                    margin-left: auto;
                    font-size: 3rem;
                    border-bottom: 2px solid #ecb100;
                    padding-bottom: 0.5rem;
                }
            }
            &:nth-child(even) {
                .img {
                    order: 2;
                }
                .box-content {
                    order: 1;
                    .name {
                        margin-left: 0;
                        margin-right: auto;
                        text-align: end;
                    }
                    a {
                        margin-left: auto;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 879px) {
    .project {
        padding: 0 2rem;
        .title {
            font-size: 3rem;
            margin-bottom: 2rem;
            padding-bottom: 1rem;
        }
        .list-project {
            .item {
                grid-template-columns: 100%;
                margin: 3rem 0;
                .box-content {
                    flex-direction: row;
                    margin-top: 1rem;
                    a {
                        font-size: 2rem;
                    }
                    .name {
                        font-size: 2rem;
                        text-align: end;
                    }
                }
                &:nth-child(even) {
                    .img {
                        order: 1;
                    }
                    .box-content {
                        order: 2;
                        .name {
                            margin-left: auto;
                            margin-right: 0;
                        }
                        a {
                            margin-right: auto;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}